Source: wasta-gnome
Section: utils
Priority: optional
Maintainer: Nate Marti <nate_marti@sil.org>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.4.0
Homepage: https://github.com/wasta-linux/wasta-gnome/tree/jammy

Package: wasta-gnome
Architecture: all
Depends: gdm3,
 gnome-shell,
 gnome-shell-extension-appindicator,
 gnome-shell-extension-applications-overview-tooltip,
 gnome-shell-extension-click-to-close-overview,
 gnome-shell-extension-dash-to-panel (>= 43),
 gnome-shell-extension-desktop-icons-ng,
 gnome-shell-extension-drive-menu,
 gnome-shell-extension-notification-banner-reloaded,
 gnome-shell-extension-window-is-ready-remover,
 libglib2.0-dev-bin,
 nautilus,
 nautilus-image-converter,
 wasta-multidesktop,
 ${misc:Depends}
Recommends: bookletimposer
Description: Wasta-Linux GNOME for Ubuntu 22.04 Jammy
 Wasta-Linux 22.04 Jammy GNOME core configuration.
